

#header {
	display: flex;
	align-items: stretch;
	border-bottom-style: solid;
	border-bottom-color: gainsboro;
	border-bottom-width: 1px;

}
.line{
	display: inline;
    margin: auto;

}
.logo img {
	margin-left: 100px; 
	width: 200px;
	height: 70px;
}
.search input{
	border-radius: 5px;
	border-color: gainsboro;
	border-width: 1px;
 	background-color: whitesmoke;
 	width: 200px;
 	height: 30px;

	
}
.link {
	margin-right: 200px;

}

.all {
	background-color: whitesmoke;

}

.lin {
	display: inline;

}
.conteiner{

	display: flex;

}


#menu {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: 50px 0px 50px 200px;
	background-color: white;
	width: 250px;
	height: 700px;
	border: 1px solid gainsboro;
	
}

#menu ul {

	list-style-type: none;
	

}

#menu ul li{
	font-family: Arial;
	font-size: medium;
	margin: 20px 5px 30px 0px;
}

#information {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: 50px 200px 50px 0px;
	background-color: white;
	width: 600px;
	height: 700px;
	border-top: 1px solid gainsboro;
	border-right: 1px solid gainsboro;
	border-bottom: 1px solid gainsboro;
}




  div.lable {
	margin-bottom: 20px;
	margin-right: 30px;
	width: 120px;


 }

.labn {
	margin-top: 20px;
	margin-bottom: 16px;
	display: -webkit-inline-box
}

 .lable {
 	text-align: right;
 	font-family: Arial;
	font-weight: bold;
 }

  div.string {
  	display: -webkit-inline-box;
	height: 50px;
}

 div.editprofile {
 	margin-right: 100px;
 	margin-left: 50px;
 	margin-top: 30px;
 }

 input {
 	margin-left: 30px;
 	border-style: solid;
 	border-radius: 5px;
	border-color: gainsboro;
	border-width: 1px;
	width: 300px;
	height: 30px;

 }


h3 {
	margin-left: 30px;
	color: grey;
}

h2 {
	margin-left: 30px;
	color: black;
	font-family: Arial;
	font-weight: normal;
}

p {
	margin-left: 30px;
	line-height: 0;
}



.sub  input{
	margin-top: 30px;
	margin-left: 30px;
	background-color: white;
	border-radius: 5px;
	color: blue;
	border-color: blue;
	font-family: Arial;
	font-size: medium;
	font-weight: bold;
	border-width: 1px;
	width: 150px;
	height: 30px;


}
[type="checkbox"] {
	width: 10px;
	height: 10px;

}

select {
	margin-left: 30px;
}


option {
	display: block;
	clear: both;
}


.subl  input{
	margin-top: 20px;
	background-color: white;
	color: blue;
	font-family: Arial;
	font-size: small;
	font-weight: normal;
	border-width: 0px;
	margin-left: 300px;

}


#footer {
	margin-left: 200px;

}
 #footer a {
	text-decoration: none;
	font-family: Arial;
	font-size: small;
	color: navy;
	font-weight: bold;
	margin-right: 10px;
	margin-bottom: 30px;
}

#blockprofile {
	display: -webkit-inline-box;
	margin-right: 300px;
}

.imgprof{
	margin: 20px 30px 30px 300px;

}

.profinform {
	display: -webkit-inline-box;
	margin-top: 50px;


}

.maininf{
	display: -webkit-inline-box;
	margin-left: 20px;
}

.maininf div {
	margin-right: 20px;
}
.public {
	display: -webkit-inline-box;
	margin-left: 50px;
}

span {
	margin-right: 20px;
}

@media (min-width: 992px) and (max-width: 1200px) {
	
	#menu{
		margin-left: 100px;

	}
	#information {
		margin-right: 100px;
	}

	#blockprofile{
		margin-left: -100px;
	}

}
 
 @media (min-width: 768px) and (max-width: 992px){
 	#menu {
 		margin-left: 0px;

 	}
 	#information {
 		margin-right: 0px;
 	}

 	#blockprofile{
		margin-left: -200px;
	}
 }
